# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
composer.phar
composer.lock
config/config.ini

# Vagrant files
.vagrant

.DS_Store
logs/web/access.log
logs/web/error.log
logs/web/urls.txt

# Zend Studio files
.buildpath
.project
.settings
