<!DOCTYPE html>
<html>
  <head>
    <title>CloudSearch Demo</title>
	<script type="text/javascript" src="/js/dev/cloudsearch.min.js"></script>
  </head>
  <body>
    <h1>Artist Demo</h1>
    <div id="content"></div>
  </body>
</html>