<!DOCTYPE html>
<html>
  <head>
    <title>CloudSearch Demo</title>
    <script type="text/javascript" src="INSERT SRC HERE"></script>
  </head>
  <body>
    <h1>CloudSearch Demo</h1>
  </body>
</html>