<!DOCTYPE html>
<html>
  <head>
    <title>CloudSearch Demo</title>
	<link rel="stylesheet" type="text/css" href="/css/cloudsearch.css">
	<script type="text/javascript" src="/js/dev/cloudsearch.min.js"></script>
  </head>
  <body>
    <h1>CloudSearch Demo</h1>
    <div id="searchBar"></div>
  </body>
</html>