<!DOCTYPE html>
<html>
  <head>
    <title>CloudSearch Demo</title>
	<script type="text/javascript" src="/js/dev/cloudsearch.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/cloudsearch.css">
  </head>
  <body>
	<h1>Release Demo</h1>
  	<div id="searchBar"></div>
    <div id="content"></div>
  </body>
</html>